:root {
    --primary-color: #007bff; /* Pääväri painikkeille ja linkkeihin */
    --hover-color: #0056b3; /* Hover-väri painikkeille */
    --secondary-color: #6c757d; /* Toissijainen väri vähemmän tärkeille elementeille */
    --background-color: #ffffff; /* Taustaväri */
    --text-color: #212529; /* Tekstin väri */
    --table-header-color: #f8f9fa; /* Taulukon otsikon taustaväri */
    --table-row-hover-color: #f2f2f2; /* Taulukon rivin hover-väri */
    --menu-bar-color: #343a40; /* Menubar väri */
  }

body,
#menuBar a {
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#menuBar {
  display: flex;
  justify-content: space-around;
  background-color: var(--menu-bar-color);
  padding: 10px 0;
}

#notificationArea {
  padding: 10px;
  margin: 10px 0;
  background-color: #f44336; /* Punainen */
  color: white;
  text-align: center;
  display: none; /* Piilotetaan oletuksena */
}

#menuBar a {
  color: white;
  text-decoration: none;
}

#menuBar a:hover {
  text-decoration: underline;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Vaihda tämä tarvittaessa */
  min-height: 100vh; /* Vie vähintään koko näytön korkeuden */
  padding: 20px; /* Välimatka sivun reunoista, säädä tarvittaessa */
  background-color: var(--background-color); 
}

#priceTable {
  margin-top: 20px;
  margin-bottom: 20px;

  font-size: 20px;
  text-align: center; /* Keskittää sisällön */
}

         



#priceTable table {
  /* Taulukon tyylit tässä */
  width: 20em; /* Säädä taulukon leveyttä tarpeen mukaan */
  margin: 0 auto; /* Keskittää taulukon horisontaalisesti */
  border-collapse: collapse;
}

#priceTable table th,
#priceTable table td {
  /* Solujen tyylit tässä */
  border: 1px solid black;
  padding: 8px;
  text-align: center;
  background-color: #f0f4fa;
}

#priceTable table th {
  /* Otsikkorivin solujen tyylit */
  background-color: #f0f4fa;
}

.price-low {
  color: #2D844A;
}

.price-medium {
  /* color: #F8B324; */
  color: #DD7A00;
}

.price-high {
  color: #BA0517;
}

#dateSelection button {
  margin-top: 5px;
  padding: 10px 20px;
  background-color: var(--primary-color);
  border: none;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s; /* Lisää siirtymä taustavärin muutokselle */
}

#dateSelection button:hover {
  background-color:  var(--hover-color);
}

#dateSelection button.selected {
  background-color: var(--hover-color);
}

#infoGrid {
  display: flex;
    flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
}

#infoGrid div {
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #f0f4fa;
}


#priceChart {
  margin-top: 20px;
  width: 100%;
}
#priceCanvas {
  background-color: #f0f4fa;
  margin-top: 20px;
  width: 100%;
  border: 1px solid #ddd;
}
@media (max-width: 600px) {
  #infoGrid {
    grid-template-columns: 1fr;
  }
}
